$google-background: #db4437;
$google-text: #fff;
$twitter-background: #1da1f2;
$twitter-text: #f5f8fa;

.btn-google {
  color: $google-text;
  background-color: $google-background;
  border-color: $google-background;

  &:active {
    color: $google-text;
    background-color: darken($google-background, 20%);
    border-color: darken($google-background, 10%);
  }

  &:hover {
    color: $google-text;
    background-color: darken($google-background, 15%);
    border-color: darken($google-background, 10%);
  }
}

.btn-twitter {
  color: $twitter-text;
  background-color: $twitter-background;
  border-color: $twitter-background;

  &:active {
    color: $twitter-text;
    background-color: darken($twitter-background, 20%);
    border-color: darken($twitter-background, 10%);
  }

  &:hover {
    color: $twitter-text;
    background-color: darken($twitter-background, 15%);
    border-color: darken($twitter-background, 10%);
  }
}
