$gray-4: #828282;

.football {
  position: absolute;
  top: -74px;
  left: 50%;
  width: 140px;
  height: 140px;
  margin-left: -70px;
}

.separator {
  display: flex;
  align-items: center;
  color: $gray-4;
  text-align: center;

  &::before,
  &::after {
    flex: 1;
    content: "";
    border-bottom: 1px solid $gray-4;
  }

  &:not(:empty)::before {
    margin-right: 2em;
  }

  &:not(:empty)::after {
    margin-left: 2em;
  }
}
